$turquoise: #56C6AD;
$black: #252F2C;
$grey: #838C8A;
$black-light: rgba(37, 47, 44, 0.94);
$turquoise-light: #E0F3EF;
$turquoise-fair: #77D8C2;
$turquoise-white: #DEF1ED;
$grey-light: #CFCFCF;
$grey-white: #E6E9ED;
$light-grey: #F4F5F6;
